**NAME: Navneet Kumar Singh**

**ID: 190031177**

**SKILL-2**

In [4]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
df = pd.read_csv('supermarket_sales.csv')
df

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 17 columns]

In [6]:
#1
#Information   
df.describe()

        Unit price     Quantity  ...  gross income      Rating
count  1000.000000  1000.000000  ...   1000.000000  1000.00000
mean     55.672130     5.510000  ...     15.379369     6.97270
std      26.494628     2.923431  ...     11.708825     1.71858
min      10.080000     1.000000  ...      0.508500     4.00000
25%      32.875000     3.000000  ...      5.924875     5.50000
50%      55.230000     5.000000  ...     12.088000     7.00000
75%      77.935000     8.000000  ...     22.445250     8.50000
max      99.960000    10.000000  ...     49.650000    10.00000

[8 rows x 8 columns]

In [7]:
#1
#Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [11]:
#2. Mode of Product line
# a = df['Product line'] or df[start:end:step,start:end:step]
a=df.iloc[:,5] 
a.mode() # or stats.mode(a)

0    Fashion accessories
dtype: object

In [12]:
#3
#Mean of product Line
mn = df.groupby('Product line').mean()
mn

                        Unit price  Quantity  ...  gross income    Rating
Product line                                  ...
Electronic accessories   53.551588  5.711765  ...     15.220597  6.924706
Fashion accessories      57.153652  5.067416  ...     14.528062  7.029213
Food and beverages       56.008851  5.471264  ...     15.365310  7.113218
Health and beauty        54.854474  5.618421  ...     15.411572  7.003289
Home and lifestyle       55.316937  5.693750  ...     16.030331  6.837500
Sports and travel        56.993253  5.542169  ...     15.812630  6.916265

[6 rows x 8 columns]

In [13]:
#4
#Standard deviation of Unit Price 
b = df['Unit price']
b.std()

26.494628347919768

In [14]:
#5
#Total Customers
tot_cust = df["Invoice ID"]
print("Total Customers:",tot_cust.shape[0])
# df["Invoice ID"].value_counts()
# df["Gender"].value_counts()

#Total Females
tot_fem = df[df["Gender"]=='Female']
print("Total Female Customers: ",tot_fem.shape[0])

#Total Males
tot_mal = df[df["Gender"]=='Male']
print("Total Male Customers: ",tot_mal.shape[0])

Total Customers: 1000
Total Female Customers:  501
Total Male Customers:  499

In [15]:
#6
#People paying through E-wallet
tot_wal = df[df["Payment"] == "Ewallet"]
print("Max customers paying through E-Wallet: ",tot_wal.shape[0])

Max customers paying through E-Wallet:  345

In [16]:
#7
#People coming from Yangon city
yangon = df[df["City"]=="Yangon"]
print("Max people coming from Yangon city are : ",yangon.shape[0])

Max people coming from Yangon city are :  340

In [17]:
#8
#Total average sales of Fashion accesories by females
fem_sales = df[(df["Gender"] == "Female") & (df["Product line"]=="Fashion accessories")]
print("Average Sales of Fashion Accesories by Female: ",fem_sales["Total"].mean())

Average Sales of Fashion Accesories by Female:  317.0562500000001

In [18]:
#9
#Total average sales of Health & Beauty by males
male_sales = df[(df["Gender"] == "Male") & (df["Product line"]=="Health and beauty")]
print("Average Sales of Health and beauty by Male: ",male_sales["Total"].mean())

Average Sales of Health and beauty by Male:  348.0994602272727