In [ ]:
# NAME - NAVNEET KUMAR SINGH
# ID - 190031177
# SEC - 10B
# SKILLING - 7 



import pandas as pd
import numpy as n
import matplotlib.pyplot as plt
from IPython.display import Image

In [ ]:
list_1 = pd.read_csv("skill-7-q1.csv")

In [ ]:
list_1

   Sl. No Name  SSN NO Country  Bodytemp_usa  Height_usa
0       1    x  12us01     USA          97.2        6.40
1       2    y  12us02     USA          97.4        6.50
2       3    z  12us03     USA          98.5        6.20
3       4    p  12us04     USA          98.6        5.90
4       5    q  12us05     USA          97.8        5.80
5       6    r  12us06     USA          97.6        5.11
6       7    s  12us07     USA          98.6        6.30
7       8    t  12us08     USA          98.9        6.50
8       9    u  12us09     USA          99.2        6.70
9      10    v  12us10     USA          99.2        6.60

In [ ]:
print(list_1.Bodytemp_usa.cov(list_1.Height_usa))

0.1558888888888905

In [ ]:
list_2 = pd.read_csv("skill-7-q2.csv")

In [ ]:
list_2

   Sl. No Name   SSN NO Country  Bodytemp_india  Height_ind
0       1    A  15ind01     IND            98.4         5.8
1       2    B  15ind02     IND            98.4         5.7
2       3    C  15ind03     IND            97.8         5.5
3       4    D  15ind04     IND            98.6         5.4
4       5    E  15ind05     IND            97.8         5.6
5       6    F  15ind06     IND            98.6         6.2
6       7    G  15ind07     IND            98.6         6.1
7       8    H  15ind08     IND            98.8         5.1
8       9    I  15ind09     IND            99.6         5.6
9      10    J  15ind10     IND            98.8         5.4

In [ ]:
print(list_1.loc[:,"Bodytemp_usa"].var())

0.5511111111111116

In [ ]:
print(list_1.loc[:,"Height_usa"].var())

0.2308988888888888

In [ ]:
print(list_1.loc[:,"Bodytemp_usa"].var() + list_1.Bodytemp_usa.cov(list_1.Height_usa) + list_1.loc[:,"Height_usa"].var())

0.9378988888888908

In [ ]:
print(list_2.loc[:,"Bodytemp_india"].var())

0.26711111111110974

In [ ]:
print(list_2.loc[:,"Height_ind"].var())

0.10933333333333334

In [ ]:
print(list_1.Bodytemp_usa.cov(list_2.Bodytemp_india))

0.20444444444444287

In [ ]:
print("Sum of variance of Body Temp in india & usa: ", list_1.loc[:,"Bodytemp_usa"].var() + list_2.loc[:,"Bodytemp_india"].var())

Sum of variance of Body Temp in india & usa:  0.8182222222222213

In [ ]:
total_count = n.count_nonzero(list_1.Bodytemp_usa)
print(total_count)

10

In [ ]:
temp = list_1.Bodytemp_usa.unique()
print(temp)

[97.2 97.4 98.5 98.6 97.8 97.6 98.9 99.2]

In [ ]:
frequency = []
probability = []
count = 0
for i in temp:
  for j in list_1['Bodytemp_usa']:
    if i == j:
      count += 1
  frequency.append(count)
  probability.append(count/total_count)
  count = 0

print(frequency)
print(probability)

[1, 1, 1, 2, 1, 1, 1, 2]
[0.1, 0.1, 0.1, 0.2, 0.1, 0.1, 0.1, 0.2]

In [ ]:
list_3 = pd.DataFrame(
    {'temp-usa': temp,
     'Frequency': frequency,
     'probability': probability}
)

In [ ]:
list_3

   temp-usa  Frequency  probability
0      97.2          1          0.1
1      97.4          1          0.1
2      98.5          1          0.1
3      98.6          2          0.2
4      97.8          1          0.1
5      97.6          1          0.1
6      98.9          1          0.1
7      99.2          2          0.2

In [ ]:
expect_value = 0 
i=0
for value in temp:
  expect_value = expect_value + (value * probability[i])
  i += 1

print('Expected value = ', expect_value)

Expected value =  98.30000000000001

In [ ]:
list_4 = pd.read_csv("IRIS.csv")

In [ ]:
list_4

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
print(list_4.loc[:,"sepal_length"].var())

0.6856935123042505

In [ ]:
print(list_4.loc[:,"sepal_width"].var())

0.18800402684563763

In [ ]:
print("sum of SepalLengthCm and SepalLengthCm: ", list_4.loc[:,"sepal_width"].var() + list_4.loc[:,"sepal_length"].var())

sum of SepalLengthCm and SepalLengthCm:  0.8736975391498881